/* reset, root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

:root {
  --primary: #189f71;
  --primary-light: #defff2;
  --primary-gradient: linear-gradient(93deg, #42b057 0%, #189f71 100%);
  --secondary-gradient: linear-gradient(93deg, #189f71 -1.86%, #007d7e 100%);
  --bg-color: #f5faf8;
  --dark-1: #1b2622;
  --dark-2: #32403b;
  --gray-1: #65736e;
  --gray-2: #98a6a1;
  --gray-3: #b4bfbb;
  --gray-4: #d9d9d9;
  --gray-5: #f2f2f2;
  --aliceblue: #e7efff;
}

/* fonts import */
.fs-normal {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fs-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fs-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fs-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fs-normal {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px !important;
  }
}
.dark {
  color: #000;
}

.dark-3 {
  color: #4A4A4A;
}

.dark-4 {
  color: #6D6D6D;
}

.dark-6 {
  color: #F2F2F2;
}

.text-red {
  color: #DE0030;
}

.bg-red {
  background-color: #DE0030;
}

.gradient-1 {
  background: linear-gradient(189deg, #F2FFD2 18.25%, rgba(255, 255, 255, 0) 38.85%);
}

.gradient-2 {
  background: linear-gradient(180deg, #F0FFC7 0%, #FFF 100%);
}

img {
  max-width: 100% !important;
  height: auto !important;
}

.fs-64 {
  font-size: 64px;
}

.fs-48 {
  font-size: 48px;
}

.fs-44 {
  font-size: 44px;
}

.fs-32 {
  font-size: 32px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.fs-12 {
  font-size: 12px;
}

.lh-110 {
  line-height: 110%;
}

.lh-120 {
  line-height: 120%;
}

.lh-130 {
  line-height: 130%;
}

.lh-137 {
  line-height: 137.5%;
}

.lh-157 {
  line-height: 157.143%;
}

h1,
.heading-1 {
  font-size: 64px;
  font-family: "Bowlby One SC", sans-serif;
}
@media (max-width: 1399px) {
  h1,
  .heading-1 {
    font-size: 56px;
  }
}
@media (max-width: 1199px) {
  h1,
  .heading-1 {
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  h1,
  .heading-1 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  h1,
  .heading-1 {
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  h1,
  .heading-1 {
    font-size: 36px;
  }
}

h2,
.heading-2 {
  font-size: 64px;
  font-family: "Bowlby One SC", sans-serif;
}
@media (max-width: 1399px) {
  h2,
  .heading-2 {
    font-size: 56px;
  }
}
@media (max-width: 1199px) {
  h2,
  .heading-2 {
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  h2,
  .heading-2 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  h2,
  .heading-2 {
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  h2,
  .heading-2 {
    font-size: 32px;
  }
}

h3,
.heading-3 {
  font-size: 48px;
}
@media (max-width: 1399px) {
  h3,
  .heading-3 {
    font-size: 44px;
  }
}
@media (max-width: 1199px) {
  h3,
  .heading-3 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  h3,
  .heading-3 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  h3,
  .heading-3 {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  h3,
  .heading-3 {
    font-size: 28px;
  }
}

h4,
.heading-4 {
  font-size: 44px;
}
@media (max-width: 1399px) {
  h4,
  .heading-4 {
    font-size: 40px;
  }
}
@media (max-width: 1199px) {
  h4,
  .heading-4 {
    font-size: 36px;
  }
}
@media (max-width: 991px) {
  h4,
  .heading-4 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  h4,
  .heading-4 {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  h4,
  .heading-4 {
    font-size: 26px;
  }
}

h5,
.heading-5 {
  font-size: 32px;
}
@media (max-width: 1399px) {
  h5,
  .heading-5 {
    font-size: 30px;
  }
}
@media (max-width: 1199px) {
  h5,
  .heading-5 {
    font-size: 28px;
  }
}
@media (max-width: 991px) {
  h5,
  .heading-5 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  h5,
  .heading-5 {
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  h5,
  .heading-5 {
    font-size: 24px;
  }
}
@media (max-width: 350px) {
  h5,
  .heading-5 {
    font-size: 24px;
  }
}

h6,
.heading-6 {
  font-size: 24px;
}
@media (max-width: 1399px) {
  h6,
  .heading-6 {
    font-size: 24px;
  }
}
@media (max-width: 1199px) {
  h6,
  .heading-6 {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  h6,
  .heading-6 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  h6,
  .heading-6 {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  h6,
  .heading-6 {
    font-size: 18px;
  }
}

header {
  background-image: url(/assets/images/hero-bg.webp);
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar {
  padding-top: 19px;
}
.navbar .navbar-nav {
  gap: 82px;
  padding: 24px 62px;
  background: rgba(186, 239, 46, 0.2);
  border-radius: 50px;
}
.navbar .nav-link {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}
.navbar .nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: -1;
  transition: transform 0.3s ease;
}
.navbar .nav-link:hover {
  font-weight: 700;
}
.navbar .nav-link:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.navbar .nav-btn {
  padding: 15px 30px;
  border-radius: 100px;
}

.hero-section {
  padding: 205px 0 273px 0;
}
.hero-section .hero-heading {
  max-width: 709px;
}

.step-section {
  padding: 172px 0 96px 0;
}
@media (min-width: 350px) and (max-width: 991px) {
  .step-section {
    padding: 50px 0 50px 0;
  }
}
.step-section .step-top-block .step-section-heading {
  max-width: 781px;
}
.step-section .step-card {
  padding: 44px;
  border-radius: 32px;
  box-shadow: 24px 24px 80px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 350px) and (max-width: 575px) {
  .step-section .step-card {
    padding: 24px 16px;
  }
}
.step-section .step-card .step-card-icon {
  padding: 46px;
  border-radius: 100%;
  background: linear-gradient(150deg, #FFDFE6 -3.71%, #FFF 88.62%);
  max-width: 148px;
}
@media (min-width: 350px) and (max-width: 575px) {
  .step-section .step-card .step-card-icon {
    padding: 20px;
    max-width: 100px;
  }
}
.step-section .step-card .step-card-heading {
  padding-bottom: 12px;
}
@media (min-width: 350px) and (max-width: 575px) {
  .step-section .step-card .step-card-info {
    font-size: 18px;
    font-weight: 400;
  }
}

.award-section {
  padding-top: 90px;
  background: #F2F2F2;
}
@media (max-width: 575px) {
  .award-section .award-row {
    gap: 50px;
  }
}
@media (max-width: 350px) {
  .award-section .award-row .award-left-block .award-image-wrapper {
    z-index: 9;
  }
}
@media (min-width: 992px) {
  .award-section .award-row .award-left-block .award-image-wrapper {
    margin-left: calc(-25vw + 35%);
  }
}
.award-section .award-row .award-left-block .chris-voice {
  padding: 24px;
  border-radius: 24px;
  box-shadow: 24px 24px 80px 0 rgba(0, 0, 0, 0.1);
  width: 380px;
  top: -25px;
  right: 100px;
}
@media (max-width: 350px) {
  .award-section .award-row .award-left-block .chris-voice {
    width: 190px;
    padding: 12px;
    right: 0px;
  }
}
@media (max-width: 350px) {
  .award-section .award-row .award-left-block .chris-voice .chris-voice-text {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .award-section .award-row .award-right-block .award-section-heading {
    font-size: 24px;
  }
}
@media (max-width: 350px) {
  .award-section .award-row .award-right-block .award-info {
    font-size: 16px;
    font-weight: 400;
  }
}
@media (max-width: 350px) {
  .award-section .award-row .award-right-block .award-logo-wrap {
    padding-bottom: 24px !important;
  }
}
@media (max-width: 390px) {
  .award-section .award-row .award-right-block .award-logo-wrap .award-logo {
    width: 85px;
  }
}

.client-section {
  padding: 96px 0;
}
.client-section .client-section-wrapper .client-card {
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.client-section .client-section-wrapper .client-bg {
  top: 0;
}/*# sourceMappingURL=style.css.map */